<% if current_user.admin? %>
  <h1>Панель администратора:</h1>
  <hr>
  <p>Добавить товар:</p>
  <%= link_to "Добавить товар", new_good_path, :class => "btn btn-outline-info"%>
  <hr>
<% else %> 
  <h1>Мой профиль</h1>
  <p>Тут отображается вся информация о ваших заказах</p>
<% end %>