<h1>Введите город доставки:</h1>

<!-- 		<div class="ui-widget" style="display: inline-block;">
			<input id="city" />
			<br />
		</div> -->

<input type="text" class="form-control" id="city" aria-label="Large" aria-describedby="inputGroup-sizing-sm">	
<%= form_for @order, :html => {:multipart => true}, :url => {:controller => 'deliverycity', :action => 'update', id: @order}, method: 'put' do |f|  %>
  <div class="form-group">
  <%= f.hidden_field :receiverCityId, id: "receiverCityId",:value => nil %>
  </div>
  <div class="text-right"> 
    <%= f.submit "Выбрать способ доставки >", class:"btn btn-primary"%>
  </div>
<% end %>