/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  *= require_tree .
 *= require_self
 *
*/
@import 'bootstrap';

.width-285px {
  width: 285px;
}
.color-bg {
  
  background:#160048
}
.textcolor-light {
  
  color:#f8f9fa
}
.textcolor-dark {
  color:#160048
}
a.nav-link { 
  color:#160048;
  display: inline-block;
} 
.container-full {
  padding-left: 2rem;
  padding-right: 1.9rem;
  width: 100%;
}
.navbar-toggler {
  width: 70px;
  height:70px;
}

.nopadding {
   padding: 0;
}
.card-deck {
  padding-top:10px;
}

.card-footer {
  position:absolute;
  bottom:0;
  width:100%;
}
.card{
  padding-bottom:50px;
}

a.without-decoration {
  text-decoration: none;
}
